
body{
    background-color: #f8f9fa;
    height: 3000px;
    overflow-x:hidden ;
}
/*
===========================
Start NavBar 
===========================
*/

nav{
    padding: 8px;
    background-color: #fff;
    position: fixed !important;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    z-index: 999999999;

}
nav ul li{
    font-size: 20px;
    font-family: cursive;
}
.navbar-brand{
    color: #183153;
    font-size: 26px;
    font-family: cursive;
    letter-spacing: 2px;
}
.nav-link button{
    background-color: #183153;
    border: none;
    outline: none;
    letter-spacing: 1px;
    padding: 8px 20px;
    border-radius: 20px;
    margin-left: 10px;
}

/*
===========================
End NavBar 
===========================
*/

/*
===========================
Start Header  
===========================
*/

header {
    margin: 30px;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}
header img{
    width: 220px;
}
header .boxes h2{
    font-size: 46px;
    color: #172ab5;
    line-height: 1.2;
    margin-bottom: 20px;
}

header .boxes p {
    font-size: 19px;
    color: #777;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
header .img-header{
    width: 450px;
}

@media only screen and (max-width:768px){
    header img{
        width: 162px;
        margin: 0 auto;
        display: inherit;
        margin-bottom: 10px;
    }
    header .img-header{
        width: 400px;
    }
}


/*
===========================
End Header
===========================
*/


/*
===========================
Start About Section 
===========================
*/

.about{
    margin-top: 201px;
    text-align: center;
    width: 100%;
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: cursive;
}
.about h4{
    font-size: 38px;
    line-height: 1.5;
}
.about img{
    width: 165px;
    margin-top: 40px;
}


@media only screen and (max-width:768px) {
    .about{
        margin-top: 450px;
        height: 550px;
    }
    
}
/*
===========================
End About Section 
===========================
*/

/*
===========================
Start Device Section 
===========================
*/

.device{
    margin-top: 40px;
}
.device .hart-icon {
    font-size: 40px;
    display: block;
    margin: 0 auto;
    color: #153a5ae8;
    

}
.device h2{
    font-family: inherit;
    margin-top: 10px;
    margin-bottom: 16px;
    text-align: center;
}
.device h5{
    color: #777;
    font-size: 17px;
    text-align: center;
    line-height: 1.5;
}



/*
===========================
End Device Section 
===========================
*/

/* 
=======================
Start Age Section
=======================
*/
.age{
    margin: 100px;
}
.age h2{
    font-size: 50px;
    font-family: inherit;
}
.age p {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    color: #777;
    letter-spacing: 1px;
}
.age img{
    border-radius: 50%;
    width: 400px;
}


/* 
=======================
End Age Section
=======================
*/


/* 
=======================
Start DownLoad Section
=======================
*/

.download{
    background-image: url(https://source.unsplash.com/5g41N3uRPf8/1500x800);
    height: 500px;
    align-items: center;
    display: flex;
    color: #fff;
    filter: brightness(0.999);
    transition: all 1s ease-in-out;
}
.download:hover{
filter: brightness(.8);
cursor: pointer;
}
.download h3{
    font-size: 50px;
    z-index: 4;
}
.download button{
    color:#fff !important;
}




/* 
=======================
End DownLoad Section
=======================
*/


/* 
=======================
Start App Section
=======================
*/
.app{
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
    height: 300px;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center
}
.app img{
    width: 150px;
}

/* 
=======================
End App Section
=======================
*/


/* 
=======================
Start Footer Section
=======================
*/

footer{
    background-color: #000;
    
}


/* 
=======================
End Footer Section
=======================
*/








